body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}
footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
}
h1,
h2,
h3 {
  letter-spacing: 2%;
  align-items: center;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/*.service-button {

}*/

h1 {
  color: white;
}
h2 {
  size: 36px;
  line-height: 1.1;
}

h3 {
  font-weight: 500;
  size: 20px;
  line-height: 1.2;
}

p {
  color: #434455;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

/*button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}*/

.service-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.service-button:hover {
  background-color: #404bbf;
}

.service-button:active {
  background-color: #404bbf;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/*button:hover {
  background-color: #404bbf;
}*/

nav span {
  color: #4d5ae5;
}

.logo-header {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.half-logo {
  color: #2e2f42;
}

/*nav ul a {
  color: #2e2f42;
  width: 48px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

nav ul a:hover {
  color: #404bbf;
}

nav ul a.active {
  color: #404bbf;
  text-decoration: underline;
}*/

.nav {
  color: #2e2f42;
  width: 48px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav:hover {
  color: #404bbf;
}

.nav:active {
  color: #404bbf;
  text-decoration: underline;
}

.address-info {
  font-style: normal;
  color: #434455;
  width: 153px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-info :hover {
  color: #404bbf;
}

.address-info :active {
  color: #404bbf;
}

.first-section-titles {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.first-section-buttons {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.first-section-buttons:hover {
  background-color: #404bbf;
}

.first-section-buttons:focus {
  background-color: #404bbf;
}

.second-section-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.second-section-about {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-cards-aboute {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
